.app {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #0081c9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
  width: 350px;
  margin: 0 auto;
  background-color: #5bc0f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  margin-bottom: 20px;
}
