.contactItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.contactName {
    font-weight: bold;
}

.contactNumber {
    margin-left: 10px;
}

.deleteButton {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}