.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
  color: #333;
}

input {
  padding: 10px;
  border-radius: 4px;
  width: 250px;
  background-color: #b3c8cf;
}

.button {
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #218838;
}
